{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
{% load static %}

<script type="text/javascript" src="{% static "Chart.min.js" %}"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true,
                text: "Projects"
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("project-chart");
            {% regroup cl.queryset|dictsort:"projectleader.username" by projectleader.username as joblist %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for i in joblist %}'{{ i.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for i in joblist %}'{{ i.list|length }}',{% endfor %}],
                        backgroundColor: [{% for i in cl.queryset %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <table class="table table-striped">
    <tr>
        <td>
            <canvas id="project-chart"></canvas>
        </td>
    </tr>
    </table>
    {{ block.super }}
{% endblock %}
